@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 3px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    color: #8275cd;
    min-height: screen;
    background-color: #EBD8FC;
}

.container {
    border: 3px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
    
  
    h2
     {
      text-align: center;
      margin: top 2vh;
    
    }
    p{
      text-align: center;
      color: #8275cd;
      text-decoration: underline;
    }
  }